@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
	font-size: 62.5%; 
}

body {
  font-family: 'Source Serif 4', serif;
  font-size: 1.6rem;
  color: #A54328;
}

main {
  max-width: 32rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-inline: auto;
  padding: 5.6rem 4rem;
}

h1, h2 {
  font-size: 3rem;
  line-height: 3.6rem;
}

img {
  width: 100%;
  margin-block: 3.2rem;
}

p, li, strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

h2 {
  margin-bottom: 3.2rem;
}

ul, ol {
  padding-left: 2.4rem;
}

ul {
  margin-bottom: 3.2rem;
}
button {
  background-color: #A54328;
  color: #ffffff;
  border: 0;
  border-radius: 0.6rem;
  margin-top: 3.2rem;
  padding: 0.8rem 1.2rem;
}

button:hover {
  cursor: pointer;
}

