
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Open+Sans:ital,wght@0,700;1,400&display=swap');

/* 
  FONTES
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Open Sans', sans-serif;

*/


body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #2F2E41;
  
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 100px 100px;
}

ul, footer {
  font-family: 'JetBrains Mono', monospace;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

li a, a#instagram  {
  color: white;
  text-decoration: none;
}

main {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

section, footer {
  text-align: center;
}

p {
  margin-top: 60px;
}
section#info {
  width: 600px;
  line-height: 28px;
  margin-left: 80px;
}

div#line {
  width: 570px;
  height: 0;
  border: 1px solid #00BFA6;
  margin: 27px auto;
}

img#cadeado {
  margin: 20px 20px;
}







