@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    width: 100%;
    height: 300px;
    background-color: rgb(33, 27, 71);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* GENERAL */
h1, fildeset {
    font-family: 'Staatliches', cursive;
    text-align: center;
    text-transform: uppercase;
}

input, textarea, submit {
    border-radius: 4px;
}

/* HEADER */
header {
    height: 165px;
    background-color: rgb(33, 27, 71);
    color: white;
    text-align: center;
    padding: 50px;

}

header h1 {
    font-size: 36px;
    font-weight: lighter;
}
    
header img {
    margin-top: 25px;
}

form {
    background-color: red;
}








